*, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--dark-red);
    background-color: var(--white);
    background-color: inherit;
}

:root{
    --white: #f5f2ec;
    --white-y: #f4ebd6;
    --black: black;
    --dark-red: #401719;
    --red: #6d1419;
    --orange: #f1ad4a;
}

h4{
    text-transform: capitalize;
}
a{
    text-decoration: none;
}

h1, h2, h3, h4, h5, p, button, a{
    color: inherit;
    background-color: inherit;
}

/* fonts */
h1, h2, h3, h4, h5, p, button, a{
    font-family: "dolly-new", sans-serif;
    font-weight: 400;
    font-style: normal;
}
i{
    font-family: "dolly-new", sans-serif;
    font-weight: 400;
    font-style: italic;
}
b{
    font-family: "dolly-new", sans-serif;
    font-weight: 600;
    font-style: normal;
}
h6{
    font-family: "dolly-small-caps-new", sans-serif;
    font-weight: 400;
    font-style: normal;
}

p{
    border-left: 1px var(--dark-red) solid;
    padding: 5px 10px;
}

/* content */
header{
    padding: 1em 20px 3em;
}
main{
    padding: 1em 20px 2em;
    border-top: 1px var(--dark-red) solid;
}
main:nth-child(even){
    background-color: var(--white-y);
}
section{
    padding: 0 20px 0;
    background-color: inherit;
}
aside{
    padding: 1em 0 1.5em;
    border-bottom: 1px var(--dark-red) solid;
    background-color: inherit;
}
aside:last-of-type{
    border-bottom: none;
}

button{
    padding: 5px;
    border-radius: 20px;
}

header{
    display: flex;
    align-items: end;
    justify-content: space-between;
}
header aside{
    display: flex;
    align-items: center;
    gap: .5em;
}
header img{
    width: 40px;
    height: auto;
}

.top-button{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--orange);
    color: var(--white);
    border-radius: 20px;
}
.top-button button{
    border: none;
}

main#links{
    display: flex;
    padding: 1em 20px;
    background-color: var(--dark-red);
    color: var(--white);
}
main#links button{
    background-color: var(--dark-red);
    color: var(--white);
    border: 1.5px var(--white) solid;
    text-transform: capitalize;
    margin: 0 2.5px;
}
main#links button:hover{
    background-color: var(--red);
}

section aside img{
    width: auto;
    max-width: 560px;
    height: 315px;
    object-fit: cover;
}
img#example{
    margin-left: 20px;
}
aside a{
    position: relative;
}
aside a p{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
    color: var(--orange);
    background-color:#f1ae4a00;
    border-left: none;
}