*, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--dark-red);
    background-color: var(--white);
    background-color: inherit;
}

:root{
    --white: #f5f2ec;
    --white-y: #f4ebd6;
    --black: black;
    --dark-red: #401719;
    --red: #a40c13;
    --orange: #f1ad4a;
}

h4{
    text-transform: capitalize;
}
a{
    text-decoration: none;
}
button{
    cursor: pointer;
}

h1, h2, h3, h4, h5, p, button, a{
    color: inherit;
    background-color: inherit;
}

/* fonts */
h1, h2, h3, h4, h5, p, button, a{
    font-family: "dolly-new", sans-serif;
    font-weight: 400;
    font-style: normal;
}
i{
    font-family: "dolly-new", sans-serif;
    font-weight: 400;
    font-style: italic;
    color: inherit;
}
b{
    font-family: "dolly-new", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: inherit;
}
h6{
    font-family: "dolly-new", sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    font-style: normal;
    text-transform: uppercase;
    color: inherit;
}

p{
    border-left: 1px var(--dark-red) solid;
    padding: 5px 10px;
}

/* content */
header{
    padding: 1em 20px 3em;
}
main{
    padding: 1em 20px 2em;
    border-top: 1px var(--dark-red) solid;
}
main:nth-child(even){
    background-color: var(--white-y);
}
section{
    padding: 0;
    background-color: inherit;
}
section aside{
    padding: 1em 20px 1.5em;
    border-bottom: 1px var(--dark-red) dashed;
    background-color: inherit;
}
aside:last-of-type{
    border-bottom: none;
}

button{
    padding: 5px;
    border-radius: 20px;
}

header{
    display: flex;
    align-items: end;
    justify-content: space-between;
}
header aside{
    display: flex;
    align-items: center;
    gap: .5em;
}
header img{
    width: 40px;
    height: auto;
}


details#menu{
    color: var(--white) !important;
}
details#menu summary div{
    color: var(--white) !important;
}
details#menu summary{
    color: inherit;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--red);
    padding: .75em 1em;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    z-index: 100;
    cursor: pointer;
}
details#menu section{
    color: inherit;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--red);
    padding: .5em .5em 50px;
    border-radius: 20px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: .5em;
}
details#menu section button{
    border: 1.5px var(--white) solid;
    text-transform: capitalize;
}
details#menu section button:hover{
    color: var(--red);
    background-color: var(--orange);
}
@media only screen and (max-width: 600px) {
    details#menu summary{
        padding: 1em 1.1em;
        border-radius: 50px;
    }
    details#menu section button{
        padding: .5em .75em;
    }
}

main section aside iframe,
main section aside img{
    padding: .5em 0;
}
iframe{
    width: 60dvw;
    height: 35dvw;
}

main#links{
    display: flex;
    padding: 1em 20px;
    background-color: var(--dark-red);
    color: var(--white);
}
main#links button{
    background-color: var(--dark-red);
    color: var(--white);
    border: 1.5px var(--white) solid;
    text-transform: capitalize;
    margin: 0 2.5px;
}
main#links button:hover{
    background-color: var(--red);
}

section aside img{
    width: auto;
    max-width: 60dvw;
    height: 35dvw;
    object-fit: cover;
}
img#example{
    margin-left: 20px;
}
aside a{
    position: relative;
}
aside a p{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
    color: var(--orange);
    background-color:#f1ae4a00;
    border-left: none;
}