*, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--dark-red);
    background-color: var(--white);
    background-color: inherit;
    font-family: "dolly-new", sans-serif;
    font-weight: 400;
    font-style: normal;
}

:root{
    --white: #f5f2ec;
    --white-y: #f4ebd6;
    --black: black;
    --dark-red: oklch(from var(--red) clamp(0, l - 0.22, 1) calc(c * 0.9)h);
    /* --dark-red: #620b03; */
    /* --dark-red: #74282c; */
    --red: #a40c13;
    /* --orange: hsl(from var(--red) calc(h - 180) s l); */
    --orange: #f1ad4a;
}

h4{
    text-transform: capitalize;
}
a{
    text-decoration: none;
}
button{
    cursor: pointer;
    color: inherit;
    padding: 5px;
    border-radius: 20px;
}

h1, h2, h3, h4, h5, p, button, a{
    color: inherit;
    background-color: inherit;
}

/* fonts */
i{
    font-family: "dolly-new", sans-serif;
    font-weight: 400;
    font-style: italic;
    color: inherit;
}
b{
    font-family: "dolly-new", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: inherit;
}
h6{
    font-family: "dolly-new", sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    font-style: normal;
    text-transform: uppercase;
    color: inherit;
}

p,
ul{
    border-left: 1px var(--dark-red) solid;
    padding: 5px 10px;
}
ul{
    padding: 0 29px;
}
button h4{
    font-family: "corundum-text-sc", serif;
    font-weight: 400;
    font-style: normal;
    text-transform: capitalize;
    color: inherit;
}
#highlight{
    color: var(--dark-red) !important;
    background-color: var(--white) !important;
}
#highlight:hover,
details #highlight:hover{
    background-color: var(--orange) !important;
}
details #highlight{
    color: var(--red) !important;
}

/* content */
header{
    padding: 1em 20px 3em;
}
main{
    padding: 1em 20px 2em;
}
main:nth-child(even){
    background-color: var(--white-y);
}
section{
    padding: 1em 0 0;
    background-color: inherit;
}
section aside{
    padding: 1em 20px 1.5em;
    background-color: inherit;
}

main section hr{
    border: 1px var(--dark-red) dashed;
    width: 80%;
    margin: 0 auto .5em;
}

header{
    display: flex;
    align-items: end;
    justify-content: space-between;
}
header aside{
    display: flex;
    align-items: center;
    gap: .5em;
}
header img{
    width: 40px;
    height: auto;
}


details#menu{
    color: var(--white) !important;
}
details#menu summary div{
    color: var(--white) !important;
}
details#menu summary{
    color: inherit;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--red);
    padding: .75em 1em;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    z-index: 100;
    cursor: pointer;
}
details#menu section{
    color: inherit;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--red);
    padding: .5em .5em 50px;
    border-radius: 20px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: .5em;
    z-index: 50;
}
details#menu section button{
    border: 1.5px var(--white) solid;
    text-transform: capitalize;
}

details#menu section button:hover{
    color: var(--red);
    background-color: var(--orange) !important;
}
@media only screen and (max-width: 600px) {
    details#menu summary{
        padding: 1em 1.1em;
        border-radius: 50px;
    }
    details#menu section button{
        padding: .5em .75em;
    }

    .versions{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .versions img#animation{
        width: 100% !important;
    }
    .versions img:nth-child(even){
        background-color: var(--orange);
    }
}

main section aside iframe,
main section aside img{
    padding: .5em 0;
    max-width: 90%;
}
iframe{
    width: 60dvw;
    height: 35dvw;
}

main#links{
    display: flex;
    align-items: center;
    padding: 1em 20px;
    background-color: var(--dark-red);
    color: var(--white);
}
main#links h2{
    padding: 0 5px 0 0;
}
main#links section{
    display: flex;
    flex-direction: row;
    gap: .25em;
    flex-wrap: wrap;
    align-content: center;
    padding: 0;
    width: fit-content;
}
main#links button{
    background-color: var(--dark-red);
    color: var(--white);
    border: 1.5px var(--white) solid;
    text-transform: capitalize;
    margin: 0 2.5px;
}
main#links button:hover{
    background-color: var(--red);
}

section aside img{
    width: auto;
    max-width: 60dvw;
    height: 35dvw;
    object-fit: cover;
}
img#example{
    margin-left: 10px;
    width: calc(40dvw - 10px);
    object-fit: contain;
}
img#animation{
    width: 100%;
    height: auto;
    max-height: 70dvh;
    object-fit: contain;
    object-position: left;
}
img#model{
    width: 100%;
    max-width: 54dvw !important;
    height: auto;
}

aside a{
    position: relative;
}
aside a p{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
    color: var(--orange);
    background-color:#f1ae4a00;
    border-left: none;
    width: 100%;
    text-align: center;
}

.versions{
    width: 100%;
    display: flex;
    gap: 20px;
}
.versions img{
    width: calc(50% - 10px) !important;
}
.versions img:nth-child(even){
    background-color: var(--orange);
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: end;
    max-width: 85%;
    margin: 0 auto;
    padding: 0 0 5em;
}